
html, body{
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ======================================Utilyties=============================================== */

/* Buttons */
.customBtn {
    background-color: #0B5345;
    padding: 5px 15px;
    border-radius: 4px;
    border-width: 0;
    border-style: none;
    border: none;
    color: #fff;
}

.btnLink {
    border: 0.5px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    padding: 1px 10px;
    
}

.height-80{
    min-height: 80vh;
}

/* ======================================Navbar=============================================== */
/* Navbar */
.nav-menu{
    background: black;
    height: 80px;
    font-size: 20px;
    transition: all .7s;
}

.navbar-collapse {
    background: rgba(0, 0, 0, 0.9);
}

.movie-app{
    color: rgb(253, 165, 0);
    padding: 25px;
}

.navbar-nav:last-child{
    margin-right: 25px;
}

.movieLink:hover{
    text-decoration: none;
}

.change .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.change .line2{
    opacity: 0;
}

.change .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.line1, .line2, .line3{
    width: 23px;
    height: 2px;
    margin: 5px;
    transition: all .4s;
} 

/* end navbar */

/* ======================================Movies=============================================== */
/* header */
.movie-header {
    display: flex;
    flex-direction: column;
    height: 55vh;
}

/* Searchbar */
.searchBar {
    margin-top: 85px;
    margin-bottom: 20px;
}



/* -------------------------------------- */

.btnSearch{
    background: #d4ac0d;
}

.btnSearch:hover{
    background: #D35400;
}

.btnTopRated{
    background-color: #CE1313  ;
    color: #fff;
}
.btnTopRated:hover{
    background-color: #922B21 ;
}

.btnUpcoming{
    background-color: green;
    color: #fff;
}

.btnUpcoming:hover {
    background-color: #145A32 ;
}

/* end Searchbar */
/* end header */

/* Title */

.title h1{
    font-family: 'Bangers', cursive;
    font-size: 6rem;
    line-height: 1;
    text-shadow: 3px 3px #fff;
}

.title-bg{
    background: teal;
}

/* end Title */

/* My list */
.myList {
    margin-top: 80px;
    background: #17A589 ;
    height: 100vh;
}

.table{
    border:2px #fff solid;
}

.tbl-head {
    background: rgba(0, 0, 0, 0.8);
}

 .tbl-body tr:nth-child(odd){
    background: rgba(0, 0, 0, 0.5);
 } 
.tbl-body tr:nth-child(even){
    background: rgba(0, 0, 0, 0.2);
}

.remove{
    background-color: #D61212;
    cursor: pointer;
}

.remove:hover {
    background-color: #922B21 ;
}
.clear:hover {
    background-color: #177F5D ;
}

/* end My list */
/* =======================================Grid============================================== */
.gridCard {
    border: 2px solid #fff ;
    border: 5px;
    width: 250px; 
}

.card-img-top{
    width:100%;
    height: 320px;
    flex: box;   
}

/* =======================================Home============================================== */
.homeHeader {
    background: linear-gradient(rgba(0, 0, 0,.5), rgba(0, 0, 0,.5)),url('./images/home-bg.jpg')no-repeat center center/cover;
    height: 100vh;
    color: #fff;
   
}

/* Search Bar */
.homeSearchBar {
    margin-top: 30px;
    margin-bottom: 30px;
}

.homeSearchBar .btnHomeSearch {
    background-color: transparent;
    border: 1px #fff solid;
}

.btnHomeSearch:hover {
    background-color: #505C64 ;
}

.homeSearchBar .form-control{
    background-color: transparent;
    color: #fff;
}

.homeHeader .homeTitle {
    font-family: 'Bangers', cursive;
    font-size: 8rem;
    line-height: 1;
    text-shadow: 3px 3px #fff;
    color: #B39868;
    padding-top: 90px;
}

/* end of Search bar */
.homeHeader p {
    margin-top: 20px;
}

/* ABOUT */
.about-picture{
    background: linear-gradient(rgba(0, 0, 0,.2), rgba(0, 0, 0,.2)), url('./images/about-bg.jpg')top left/cover no-repeat  fixed;
}

.about {
    background: #2F3F55  ;
}

.about h1 {
    color: #D35400;
    text-shadow: 2px 2px 2px #fff ;
}

.titleUnderline {
    width: 200px;
    height: 5px;
    margin: 0 auto;
}

@media(max-width: 576px){
    .homeHeader .homeTitle{
        font-size: 5rem;
    }
}



/* ========================================Genre ============================================= */

.genres {
    background-color: #43334C;
    height: 80vh;
    color: #fff;
    padding-top: 85px;
}

.genreTitle {
    color: #9400FF   ;
}

.navList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    list-style: none;
    margin: 0 auto;
}

.genreLink{
    font-size: 20px;
    border: none;
    background: none;
    border-style: none;
    color: #fff;
}

.genreLink:focus {
    outline: none;
}

.active {
    color: #d4ac0d;
}

.activeBtnLink{
    background: #007bff;
}


.mainGrid {
    background: linear-gradient(45deg, #823E3E 18%, transparent 20%), 
    url('./images/genre.jpg')no-repeat center center/cover;
    height: 100vh;
}

.height-100 {
    height: 100%;
}



.btnLink:hover {
    background: #007bff;
}

.btnLink:focus {
    outline: none;
}



/* ------------------------------------------------------------ */
@media(max-width: 576px){
    .navList{
        grid-template-columns: repeat(2, 1fr);        
    }

    .genres{
        height: 100%;
    }
}

/* @media() {
    
} */

@media(min-width: 577px) and (max-width: 768px){
    .genres {
        height: 50vh;
    }
}


/* =====================================Footer================================================ */

.aboutContact {
    border-bottom:1px solid #fff;
}

.insta {
    color: blueviolet;
}

.secondPart a:hover {
   opacity: 0.7;
}



