/* navbar */
.navbar{
    height: 70px;
    font-size: 20px;
}

.menu-item{
    color: #eee;
    transition: color .5s;
    
}

.menu-item:hover{
    color: rgb(64, 169, 255);
    text-decoration-line: none;
}

.nav-active{
    color: rgb(64, 169, 255);
}

.movie-app{
    color: rgb(253, 165, 0);
}
/* end navbar */
/* Title */
.title {
    font-family: 'Bangers', cursive;
    font-size: 6rem;
}
/* font-family:  */
/* end Title */
/*  Home */
.card-img-top{
    width:100%;
    height: 320px;
    flex: box;   
}

/* end Home */