
html, body{
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ======================================Movies=============================================== */
/* Navbar */
.nav-menu{
    background: black;
    height: 80px;
    font-size: 20px;
    transition: all .7s;
}

.navbar-collapse {
    background: rgba(0, 0, 0, 0.9);
}

.movie-app{
    color: rgb(253, 165, 0);
    padding: 25px;
}

.navbar-nav:last-child{
    margin-right: 25px;
}

.movieLink:hover{
    text-decoration: none;
}

.change .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.change .line2{
    opacity: 0;
}

.change .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.line1, .line2, .line3{
    width: 23px;
    height: 2px;
    margin: 5px;
    transition: all .4s;
} 

/* end navbar */

/* header */
.movie-header {
    display: flex;
    flex-direction: column;
    height: 55vh;
  

}

/* Searchbar */
.searchBar {
    margin-top: 85px;
    margin-bottom: 20px;
}


.btn-search {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #d4ac0d;
    border: none;
    border-radius: .25rem;
}

.btn-search:hover{
    background: #D35400;
}



/* -------------------------------------- */
.btn-toprated{
    background-color: #CE1313  ;
    color: #fff;
}
.btn-toprated:hover{
    background-color: #922B21 ;
}

.btn-upcoming{
    background-color: green;
    color: #fff;
}

.btn-upcoming:hover {
    background-color: #145A32 ;
}


/* end Searchbar */
/* end header */

/* Title */
.title h1{
    font-family: 'Bangers', cursive;
    font-size: 6rem;
    line-height: 1;
    text-shadow: 3px 3px #fff;
}

.title-bg{
    background: teal;
}

/* end Title */

/* My list */
.myList {
    margin-top: 80px;
    background: #17A589 ;
    height: 100vh;

}

.table{
    border:2px #fff solid;
}

.tbl-head {
    background: rgba(0, 0, 0, 0.8);
}

 .tbl-body tr:nth-child(odd){
    background: rgba(0, 0, 0, 0.5);
 } 
.tbl-body tr:nth-child(even){
    background: rgba(0, 0, 0, 0.2);
}

.button{
    background-color: #D61212 ;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.clear{
    background-color: #0B5345  ;
    padding: 8px 15px;
    border-radius: 5px;
    border-width: 0;
    border-style: none;
    border: none;
    color: #fff;
  
}

.button:hover {
    background-color: #922B21 ;
}
.clear:hover {
    background-color: #177F5D ;
}
/* end My list */


.card-img-top{
    width:100%;
    height: 320px;
    flex: box;   
  
}

/* =======================================Home============================================== */

/* end Home */



/* ========================================Genre ============================================= */

.genreLink{
    font-size: 20px;
    border: none;
    background: none;
}
.active{
    color: rebeccapurple
}
/* end Genre */

/* =====================================Footer================================================ */





