/* ========================================ARTISTS CSS========================================== */
/* header */
.artist-header {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    height: 50vh; 
  
}

/* end of  header*/

/* search bar */

.btnSearchArtist {
    background-color: #1A5276 ;
}

.btnSearchArtist:hover {
    background-color: #3498DB ;
}

/* end of search bar */